@font-face {
    font-family: 'Nanum Barun Gothic';
    font-style: normal;
    font-weight: 100;
    src: url(./NanumBarunGothicUltraLight.ttf);
}
@font-face {
    font-family: 'Nanum Barun Gothic';
    font-style: normal;
    font-weight: 300;
    src: url(./NanumBarunGothicLight.ttf);
}
@font-face {
    font-family: 'Nanum Barun Gothic';
    font-style: normal;
    font-weight: 400;
    src: url(./NanumBarunGothic.ttf);
}
@font-face {
    font-family: 'Nanum Barun Gothic';
    font-style: normal;
    font-weight: 500;
    src: url(./NanumBarunGothicBold.ttf);
}
